body {
    /*font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;*/
    font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #333;
}
.container{
    padding:0px 30px 0px 30px;
}
.navbar-default {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    z-index: 1;
}

/* .fixednav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: solid 1px #e3e3e3;
} */

.navbar-inverse {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0;
    margin: 0;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-brand:hover {
    opacity: 0.65;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:hover {
    opacity: 0.65;
}

/* .header-title {
    height: 51px;
}

.header-title h1 {
    font-size: 1.3em;
    margin: 0;
    line-height: 52px;
} */

.content-home {
    background-color: #fff;
    padding-bottom: 50px;
}

.content {
    background: #f6f6f6;
    padding-top: 120px;
    padding-bottom: 60px;
}
.event-home{
    margin-bottom: 10px;
}
.content-one{
    margin-bottom: 20px;
}
.content-one .container{
    background: #f6f6f6;
    padding: 34px 36px 0;
}
.event-home .container{
    background: #f6f6f6;
    padding: 34px 36px 0;
}
.content .container {
    background: #fff;
    padding: 34px 36px 0;
}
.normal-course{
    margin-bottom: 100px;
}
.content h1 {
    font-size: 24px;
}

.content p {
    font-size: 1.4em;
    font-weight: 200;
    line-height: 2em;
}

.content .img-about {
    margin: 34px -36px 0;
}

.team .container{
    background-color: #f6f6f6;
}

.event-home .container:hover {
    box-shadow: 15px 15px 70px -24.5px rgba(0, 0, 0, 0.3);
}

.img-team {
    margin: -34px -36px 0px;
}

.img-course {
    margin: -34px 36px 0px;
}
.info{
    margin-bottom: 30px;
}
.info .title {
    background-color: #f6f6f6;
    border-bottom: solid 1px #d2d2d2;
    margin-bottom: 20px;
}

.title h1 {
    margin-left: -34px;
}

.event-date {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: #ffa955;
}

.event-title {
    font-size: 24px;
    line-height: 1.20849;
    font-weight: 400;
    letter-spacing: .015em;
    margin-top: 30px;
}

.navbar-default .navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: #40D2B1;
    height: 70px;
    line-height: 35px;
}

.navbar-default .navbar-nav>li>a {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    height: 70px;
    line-height: 35px;
}
.navbar-toggle {
    margin-top: 18px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    opacity: 0.65;
}

.navbar-default .navbar-collapse {
    border: none;
    text-align: center;
}

.navbar-default{
    background-color: rgba(0, 0, 0,0.9) !important;
}

.jumbotron {
    background-image: url('../img/home.JPG');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    text-align: center;
    z-index: -99;
    position: fixed;
}
.blur{

}
.banner {
    padding-top: 40vh;
    color: #fff;
    margin-bottom: 300px;
}

.banner h1 {
    font-size: 80px;
    line-height: 1;
}

.banner p {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 8px;
    line-height: 50px;
}

.banner .slagon {
    height: 100vh;
    text-align: center;
}

.banner .intro {
    font-size: 30px;
    font-weight: 400;
    margin-top: -20vh;
}

@media only screen and (max-width: 735px) {
    .navbar-default .navbar-nav>li>a {
        height: 40px;
    }
    h1{
        font-size: 24px;
    }
    p{
        font-size: 16px !important;
    }
    .content h1{
        font-size: 18px;
    }
    .intro-home{
        margin-top:70px !important;
        margin-bottom: 90px !important;
    }
    .intro-img, .info-img {
        margin-top: 40px !important;
    }
    .info-1{
        padding-top:80px !important;
        padding-bottom: 80px !important;
    }
    .banner h1 {
        font-size: 70px;
    }
    .container-fluid{
        padding: 0px;
    }
    .banner h1 {
        font-size: 33px;
    }
    .banner p{
        font-size: 15px;
    }
    .banner .intro p{
        font-size: 24px;
        letter-spacing: 3px;
        line-height: 30px;
    }
    .event-home .container{
        padding: 0px;
    }
    .img-course{
        margin:0px;
    }
    .img-team{
        margin:0px;
    }
    .event-content{
        margin:20px;
    }
    .qrcode{
        padding-top:20px;
    }
}
.grid-item {
    width: 30%;
}

.content-home h1 {
    padding-bottom: 20px;
}

.content-home p {
    line-height: 1.5;
    font-size: 24px;
    font-weight: 300;
}

.content-home .intro-img {
    margin-top: 114px;
}

.intro-home {
    margin-top: 210px;
    margin-bottom: 140px;
}

.info-1 {
    background-color: #fafafa;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1441px;
    padding-bottom: 120px;
    margin-bottom: 20px;
}

.info-1 img {
    box-shadow: 4px 4px 40px 10px #d4d2d2;
}

.footer {
    background-color: #f2f2f2;
    padding-top: 20px;
}

.footer figure{
    padding-bottom: 20px;
}
.qrcode{
    align:center;
}
.copyright {
    border-top: 1px solid #d6d6d6;
    padding-top: 5px;
}


.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}