.first{
    height: 500px;
    width:1000px;
    background: rgb(209, 20, 20);
    position: fixed;
}
.second{
    height: 500px;
    width:1000px;
    background-color: #1717bb;
    position: absolute;
}
